
.banner{
    width: 100%;    
}


.bolded{
    font-weight:bold
}

.cardLeft{
    padding-left: 60px;
    padding-right:40px;
    right: auto;
    left: auto;
    margin-right: auto;
    float: left;
    position: relative;
}


@media (min-width: 920px) {
.cardLeft {
    width: 50%;
}
}

@media (max-width: 920px) {
.cardLeft {
    padding-bottom:40px;
}
}


.cardRight{
    padding-left: 40px;
    padding-right:60px;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    position: relative;
}


@media (min-width: 920px) {
.cardRight {
    width: 50%;
}
}

@media (max-width: 920px) {
.cardRight {
    padding-bottom:40px;
}
}


.centeredPic{
    width:25%;
     display: block;
    margin: 0 auto;
  align-content: center;
    
}

.centeredText{
    text-align: center;
    
    
}


.figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 4px solid #eb5833;
    margin: 1em 0;
    padding: 0; 
    margin: 0px;
}



.justified{
    
    text-align: justify;
}



.nameTitleL{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.nameTitleR{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: right;
}


.padded{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    
}


.row .text{
    vertical-align: middle;
    font-size: 20px;
}



.rightAlign{
        display: inline-block;
    width: 100%;
    text-align: right;
}


.row .myCard {
    font-family: 'Poppins', sans-serif;
    background-color: white !important;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:10px;
    padding-top:30px;
    box-shadow: 5px 5px 15px #888888 !important;

}

.orangeHeaders {
    color: #eb5833;
    padding-left:40px;
    padding-right:40px;    
}

@media (max-width: 920px) {
.orangeHeaders {
    font-size: 50px;
    
}
}

@media (min-width: 920px) {
.orangeHeaders {
    font-size: 30px;
}
}


.regText {
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:40px;
    line-height: 210%;
    
}

@media (max-width: 920px) {
.regText {
    font-size: 20px;    
}
}

@media (min-width: 920px) {
.regText {
    font-size: 15px;    
}
}



.small{
    padding-left:50px;
    padding-right:50px;
    
}


.smallOrangeHeaders {
    color: #eb5833;
    padding-left:50px;
    padding-right:40px;
    padding-bottom:20px;    
}

@media (max-width: 920px) {
.smallOrangeHeaders {
    font-size: 30px;
    
}
}

@media (min-width: 920px) {
.smallOrangeHeaders {
    font-size: 20px;
}
}



@media (min-width: 920px) {
.main {
    padding-left:120px;
    padding-right:120px;
    padding-bottom:40px;
}
}

.main {
    background: #d6d6d6;
}


@media (min-width: 920px) {
nav ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
}



.texty {
   font-size: 16px; 
    
}

@media (max-width: 920px) {
#top, #bottom, #left, #right {
    display:none;
}
}

#top, #bottom, #left, #right {
    background: #d6d6d6;
}


#left, #right {
        z-index: -999;
        position: fixed;
		top: 0; bottom: 0;
		width: 120px;
}

    
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
    left: 0; right: 0;
    height: 40px;
}

#top { top: 0; }
#bottom { bottom: 0; }
